/* @src/styles/global.css */

/* 1. Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

/* 2. Motor Tailwind v4 */
@import "tailwindcss";

/* 3. Definición del Tema (Sustituye a tailwind.config.mjs) */
@theme {
  /* Tipografía */
  --font-sans: "Nunito", sans-serif;
  --font-heading: "Red Hat Display", sans-serif;

  /* Paleta de Colores Corporativa */
  /* Al definirlos aquí, Tailwind crea automágicamente las clases bg-primary, text-primary, border-primary, etc. */
  --color-primary: #FF7300;
  --color-accent: #FF7300;
  
  --color-secondary: #14B8A6;
  
  --color-background: #0F172A; /* Slate 950 */
  --color-surface: #1E293B;    /* Slate 800 */
  --color-text: #F5F5F5;       /* White Smoke */
}

/* 4. Estilos Base y Reset */
@layer base {
  body {
    /* Aplicamos las variables directamente */
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-sans);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}